<!-- templates/admin/district-add.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title" >Thêm mới Quận/Huyện</title>
</head>
<body>
<div layout:fragment="content">
<h1>Thêm mới Quận/Huyện</h1>
<form th:action="@{/admin/districts/add}" th:object="${district}" method="post">
    <label for="districtName">Tên Quận/Huyện:</label>
    <input type="text" id="districtName" th:field="*{districtName}" required />
    <br/>
    <label for="province">Thuộc Tỉnh:</label>
    <select id="province" th:field="*{province.provinceID}" required>
        <option th:each="province : ${provinces}"
                th:value="${province.provinceID}"
                th:text="${province.provinceName}">
        </option>
    </select>
    <br/>
    <button type="submit">Lưu</button>
    <a th:href="@{/admin/districts}">Hủy</a>
</form>
</div>
</body>
</html>
