<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
    <title layout:fragment="title" >Thêm mới Tỉnh</title>
</head>
<body>
<div layout:fragment="content">
<h1>Thêm mới Tỉnh</h1>
<form th:action="@{/admin/provinces/add}" th:object="${province}" method="post">
    <label for="provinceName">Tên Tỉnh:</label>
    <input type="text" id="provinceName" th:field="*{provinceName}" required />
    <br/>
    <button type="submit">Lưu</button>
    <a th:href="@{/admin/provinces}">Hủy</a>
</form>
</div>
</body>
</html>
