<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      >
<head>
    <meta charset="UTF-8">
    <title>Test addresses</title>
</head>
<body>
    <table>
        <thead>
            <tr>Address</tr>
        </thead>
        <tbody>
            <tr th:each="customerAddress : ${customerAddresses}">
                <td>
                    <span th:text="${customerAddress.address.streetAddress}"></span>,
                    <span th:text="${customerAddress.address.ward.wardName}"></span>,
                    <span th:text="${customerAddress.address.ward.district.districtName}"></span>,
                    <span th:text="${customerAddress.address.ward.district.province.provinceName}"></span>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>