<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Edit Branch</title>
</head>
<body>
<h1>Edit Branch</h1>

<!--<form th:action="@{branches/update/{id}(id=${branch.branchId})}" th:object="${branch}" method="post">-->
<form th:action="@{/branches/update/{id}(id=${branch.branchId})}" th:object="${branch}" method="post">

  <input type="hidden" th:field="*{branchId}" />

  <label for="branchName">Branch Name:</label>
  <input type="text" id="branchName" th:field="*{branchName}" required/>
  <br/>

  <label for="location">Location:</label>
  <input type="text" id="location" th:field="*{location}" required/>
  <br/>

  <label for="manager">Manager:</label>
  <input type="text" id="manager" th:field="*{manager}" required/>
  <br/>

  <button type="submit">Update</button>
  <a th:href="@{/branches}" >Cancel</a>
</form>
</body>
</html>
