<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm địa chỉ</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1>Add New Address</h1>
<form th:action="@{/customer/addresses/new}" method="post" th:object="${addressForm}">
    <div>
        <label for="province">Tỉnh/Thành Phố:</label>
        <select id="province" th:field="*{provinceId}" required>
            <option value="">-- Chọn Tỉnh/Thành Phố --</option>
            <th:block th:each="province : ${provinces}">
                <option th:value="${province.provinceID}" th:text="${province.provinceName}"></option>
            </th:block>
        </select>
    </div>
    <div>
        <label for="district">Quận/Huyện:</label>
        <select id="district" th:field="*{districtId}" required>
            <option value="">-- Chọn Quận/Huyện --</option>
        </select>
    </div>
    <div>
        <label for="ward">Phường/Xã:</label>
        <select id="ward" th:field="*{wardId}" required>
            <option value="">-- Chọn Phường/Xã --</option>
        </select>
    </div>
    <div>
        <label>Địa chỉ đường phố:</label>
        <input type="text" th:field="*{streetAddress}" required />
    </div>
    <div>
        <label>Mã bưu điện:</label>
        <input type="text" th:field="*{postalCode}" required />
    </div>
    <button type="submit">Thêm</button>
</form>

<!-- Script AJAX load district và ward -->
<script type="text/javascript">
    $(document).ready(function() {
        // Khi chọn Tỉnh/Thành Phố
        $('#province').change(function() {
            var provinceId = $(this).val();
            if (provinceId) {
                $.ajax({
                    url: "[[@{/admin/wards/districts-by-province/}]]" + provinceId,
                    type: 'GET',
                    success: function(data) {
                        $('#district').empty();
                        $('#district').append('<option value="">-- Chọn Quận/Huyện --</option>');
                        $.each(data, function(key, value) {
                            $('#district').append('<option value="' + value.districtID + '">' + value.districtName + '</option>');
                        });
                        $('#ward').empty();
                        $('#ward').append('<option value="">-- Chọn Phường/Xã --</option>');
                    }
                });
            } else {
                $('#district').empty();
                $('#ward').empty();
            }
        });

        // Khi chọn Quận/Huyện
        $('#district').change(function() {
            var districtId = $(this).val();
            if (districtId) {
                $.ajax({
                    url: "[[@{/admin/wards/by-district/}]]" + districtId,
                    type: 'GET',
                    success: function(data) {
                        $('#ward').empty();
                        $('#ward').append('<option value="">-- Chọn Phường/Xã --</option>');
                        $.each(data, function(key, value) {
                            $('#ward').append('<option value="' + value.wardID + '">' + value.wardName + '</option>');
                        });
                    }
                });
            } else {
                $('#ward').empty();
            }
        });
    });
</script>
</body>
</html>
